<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>A PHP Best Practices exercise</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<h2>A PHP Best Practices exercise</h2>
			<div class="alert alert-success" role="alert" hidden="hidden">
				{{messagetext}}
			</div>
